@import url("http://fonts.googleapis.com/css?family=Dosis:300,700")

// -- CONSTANTS ----------------------------------------------------------------
/* COLORS */
COLOR                       = #333333
DARK                        = #3d3e41
BACKGROUND                  = #282F35
THEME                       = #c59a6d
WHITE                       = #fff
BORDER-RADIUS               = 4px

/* FONT */
FONT_FAMILY                 = "Dosis", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE                   = 16px
FONT_SIZE_TINY              = 80%
FONT_SIZE_SMALL             = 90%
FONT_SIZE_NORMAL            = 100%
FONT_SIZE_BIG               = 120%
FONT_WEIGHT_THIN            = 100
FONT_WEIGHT_NORMAL          = 300
FONT_WEIGHT_BOLD            = 700

/* DIMENSIONS */
UNIT                        = 4rem
SPACE                       = (UNIT / 4)
/* ANIMATIONS */
ANIMATION_DURATION          = 350ms
ANIMATION_STEPS             = 15
ANIMATION_EASE              = cubic-bezier(0.645, 0.045, 0.355, 1.000)
