body[data-page="landing"]
  > article
    &#intro
      height                                : 100vh !important
    > .container
      padding                               : (1.5 * UNIT) 0
      text-align                            : center

    ul
      list-style                            : none
      font-size                             : FONT_SIZE_BIG
      > *
        line-height                         : (1.25 * UNIT)
      > li
        opacity                             : 0.6

    &#location
      > .map
        height                              : 60vh
        > *
          width                             : 100%
          &:not(.active)
            display                         : none

      > .container
        padding                             : UNIT 0
        > [data-column]
          cursor                            : pointer
          &.active
            opacity                         : 1
          &:not(.active)
            opacity                         : 0.5
            &:focus
              opacity                       : 0.75
          > *
            float                           : left
            vertical-align                  : bottom
          [data-control='clock']
            margin-right                    : (UNIT / 1.25)
          strong
            font-size                       : FONT_SIZE_BIG
          p, ul
            margin                          : 0
