body[data-page="landing"]
  > article
    &#intro
      height                                : 100vh !important
      &.dots:before
        background-color                    : alpha(THEME, 50%)

    > .container
      padding                               : (1.5 * UNIT) 0
      text-align                            : center
