body[data-page]
  > header, > footer
    padding                                 : 0 UNIT

  > header
    z-index                                 : 1980
    position                                : fixed
    left                                    : 0
    top                                     : 0
    right                                   : 0
    height                                  : HEIGHT = (2 * UNIT)
    line-height                             : HEIGHT
    transition                                all ANIMATION_DURATION ANIMATION_EASE
    &.fixed
      background                            : url("/assets/img/bck.dots.png") repeat top left
    > a
      font-size                             : (UNIT / 1.5)
      font-weight                           : FONT_WEIGHT_BOLD
      color                                 : WHITE
    > nav
      > .button
        padding                             : 0 (2 * SPACE)
        &.transparent
          color                             : WHITE
          &:hover
            background-color                : alpha(WHITE, 25%)

  > article
    &#intro
      z-index : -1
      position                              : fixed
      top                                   : 0
      left                                  : 0
      width                                 : 100%
      height                                : INTRO_HEIGHT
      text-align                            : center
      overflow                              : hidden
      &.dots:before
        background-color                    : alpha(THEME, 50%)
      > video
        z-index                             : -1
        position                            : absolute
        top                                 : 0
        left                                : 0
        width                               : 100%
      > button
        z-index                             : 0
        position                            : fixed
        top                                 : 3vw
        left                                : 7.5vw
        padding                             : 0 SPACE
        font-size                           : (1.9 * FONT_SIZE_NORMAL)
        opacity                             : 0.65
        transition                            all ANIMATION_DURATION ANIMATION_EASE
        &:hover
          color                             : THEME
          opacity                           : 1
      > h1
        max-width                           : 50vw
        font-size                           : (2 * UNIT)
        font-weight                         : FONT_WEIGHT_EXTRABOLD
        transition                            all ANIMATION_DURATION ANIMATION_EASE
      > a
        position                            : absolute
        left                                : 0
        bottom                              : (3 * SPACE)
        width                               : 100%
        font-size                           : (1.5 * FONT_SIZE_NORMAL)
        color                               : WHITE
        opacity                             : 0.6
        transition                            all ANIMATION_DURATION ANIMATION_EASE
        animation                             bounce (1.5 * ANIMATION_DURATION) infinite ANIMATION_EASE alternate
        &:hover
          opacity                           : 1
      .hide
        opacity                             : 0
        transform                           translateY(-25%)

    &#we
      margin-top                            : INTRO_HEIGHT

    &#contact
      button
        margin-top                          : (2 * SPACE)

    h2
      margin-bottom                         : 0
      font-weight                           : FONT_WEIGHT_BOLD
      text-transform                        : Capitalize

    > .container
      > p
        font-size                           : FONT_SIZE_BIG
      + .container
        padding-top                         : 0

      button, .button
        height                              : HEIGHT = (1.45 * UNIT) !important
        line-height                         : HEIGHT

  > footer
    line-height                             : (1.5 * UNIT)
    font-weight                             : FONT_WEIGHT_NORMAL
    > *
      opacity                               : 0.5
    > nav > a
      margin-left                           : SPACE
      font-size                             : FONT_SIZE_BIG

@keyframes bounce
  0%
    transform                                 translateY(0)
  100%
    transform                                 translateY(-35%)
