body
  > section
    height                                : 100vh
    > h1
      margin-bottom                       : 0
      font-size                           : (3.3 * UNIT)
      font-weight                         : FONT_WEIGHT_BOLD
      &:after
        position                          : absolute
        content                           : "*"
        color                             : THEME
      > span
        font-weight                       : FONT_WEIGHT_NORMAL
    > h4
      font-weight                         : FONT_WEIGHT_NORMAL
