body[data-page="landing"]
  > aside
    z-index                                 : 2
    position                                : fixed
    top                                     : 0
    bottom                                  : 0
    left                                    : 0
    width                                   : (6 * UNIT)
    height                                  : 100%
    background-color                        : darken(BACKGROUND, 25%)
    transform                                 translateX(-100%)
    transition                                all ANIMATION_DURATION ANIMATION_EASE
    > button
      padding                               : 0
      border                                : none
      position                              : absolute
      display                               : block
      top                                   : 0px
      right                                 : 0px
      width                                 : SIZE = (UNIT / 1.25)
      height                                : SIZE
      font-size                             : FONT_SIZE_NORMAL
      text-align                            : center
      line-height                           : SIZE
      color                                 : COLOR
      background-color                      : WHITE
    > nav
      > a
        margin                              : SPACE 0
        font-size                           : FONT_SIZE_SMALL
        font-weight                         : FONT_WEIGHT_BOLD
        text-transform                      : Uppercase
        color                               : WHITE
        &:hover, &.active
          color                             : THEME
    &.active
      transform                               translateX(0%)

  > header, > footer
    padding                                 : 0 UNIT

  > header
    z-index                                 : 1980
    position                                : fixed
    left                                    : 0
    top                                     : 0
    right                                   : 0
    height                                  : HEIGHT = (2 * UNIT)
    line-height                             : HEIGHT
    transition                                all ANIMATION_DURATION ANIMATION_EASE
    &.fixed
      background                            : url("/assets/img/bck.dots.png") repeat top left
    > *:not(nav)
      width : 15%
    > a
      font-size                             : (UNIT / 1.5)
      font-weight                           : FONT_WEIGHT_BOLD
      color                                 : WHITE
    > nav
      > a
        color                               : WHITE
        transition                            all ANIMATION_DURATION
        &:not(.button)
          padding                           : 0 SPACE
        &.button
          &:hover, &:visited
            color                           : THEME
            border-color                    : WHITE
            background-color                : WHITE

  > article
    &#intro
      height                                : 100vh
      text-align                            : center
      overflow                              : hidden
      > video
        z-index: -1
        position                            : absolute
        left                                : 0
        top                                 : 0
        width                               : 100%
      > button
        z-index                             : 0
        position                            : fixed
        top                                 : 3vw
        left                                : 7.5vw
        padding                             : 0 SPACE
        font-size                           : (1.9 * FONT_SIZE_NORMAL)
        color                               : WHITE
        opacity                             : 0.65
        transition                            all ANIMATION_DURATION ANIMATION_EASE
        &:hover
          color                             : THEME
          opacity                           : 1
      > h1
        max-width                           : 50vw
        font-size                           : (2 * UNIT)
        font-weight                         : FONT_WEIGHT_EXTRABOLD
        transition                            all ANIMATION_DURATION ANIMATION_EASE
      > a
        position                            : absolute
        left                                : 0
        bottom                              : (2 * SPACE)
        width                               : 100%
        font-size                           : FONT_SIZE_BIG
        color                               : WHITE
        opacity                             : 0.5
        transition                            all ANIMATION_DURATION ANIMATION_EASE
        animation                             bounce (1.5 * ANIMATION_DURATION) infinite ANIMATION_EASE alternate
        &:hover
          opacity                           : 1
      .hide
        opacity                           : 0
        transform                           translateY(-25%)

    h2
      font-weight: FONT_WEIGHT_BOLD
    > .container
      padding                               : (1.5 * UNIT) 0
      text-align                            : center
      > p
        font-size                           : FONT_SIZE_BIG
  > footer
    line-height                             : (1.5 * UNIT)
    > *
      opacity                               : 0.5
    > nav > a
      margin-left                           : SPACE
      font-size                             : FONT_SIZE_BIG

@keyframes bounce
  0%
    transform                                 translateY(0)
  100%
    transform                                 translateY(-35%)
