body[data-page]
  > aside
    z-index                                 : 2
    position                                : fixed
    top                                     : 0
    bottom                                  : 0
    left                                    : 0
    width                                   : (6 * UNIT)
    height                                  : 100%
    background-color                        : darken(BACKGROUND, 25%)
    transform                                 translateX(-100%)
    transition                                all ANIMATION_DURATION ANIMATION_EASE
    > button
      padding                               : 0
      border                                : none
      position                              : absolute
      display                               : block
      top                                   : 0px
      right                                 : 0px
      width                                 : SIZE = (UNIT / 1.25)
      height                                : SIZE
      font-size                             : FONT_SIZE_NORMAL
      text-align                            : center
      line-height                           : SIZE
      color                                 : COLOR
      background-color                      : WHITE
    > nav
      > a
        margin                              : SPACE 0
        font-size                           : FONT_SIZE_SMALL
        font-weight                         : FONT_WEIGHT_BOLD
        text-transform                      : Uppercase
        color                               : WHITE
        &:hover, &.active
          color                             : THEME
    &.active
      transform                               translateX(0%)
