@font-face
  font-family: 'icomoon'
  src:url('fonts/icomoon.eot?-uryqs7')
  src:url('fonts/icomoon.eot?#iefix-uryqs7') format('embedded-opentype'),
    url('fonts/icomoon.woff?-uryqs7') format('woff'),
    url('fonts/icomoon.ttf?-uryqs7') format('truetype'),
    url('fonts/icomoon.svg?-uryqs7#icomoon') format('svg')
  font-weight: normal
  font-style: normal

.icon
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  &.menu:before
    content: "\e9bd"
  &.cross:before
    content: "\ea0f"
  &.checkmark:before
    content: "\ea10"
  &.arrow-up:before
    content: "\ea3a"
  &.arrow-down:before
    content: "\ea3e"
  &.google-plus:before
    content: "\ea88"
  &.facebook:before
    content: "\ea8c"
  &.twitter:before
    content: "\ea91"
  &.dribbble:before
    content: "\eaa6"
