// -- BASE ---------------------------------------------------------------------
body
  font-size                   : FONT_SIZE
  font-family                 : FONT_FAMILY
  color                       : COLOR
  background-color            : WHITE
  a
    color                     : COLOR
    text-decoration           : none

.bck
  position                    : relative
  margin                      : 0
  background-size             : cover !important
  &.dark
    color                     : WHITE
    background-color          : DARK
  &.white
    background-color          : WHITE
  &.grey
    background-color          : darken(WHITE, 5%)
  &.oizio
    background-image          : url("https://oiz.io/assets/img/landing.720p.jpg")
  &.filmit
    background-color          : #ffc414
  &.omnia
    background-image          : url("http://omniacafe.com/assets/img/background.jpg")

  &.dots
    z-index                   : 0
    color                     : WHITE
    &:before
      content                 : ""
      z-index                 : 0
      position                : absolute
      top                     : 0
      right                   : 0
      left                    : 0
      width                   : 100%
      height                  : 100%
      background              : url("/assets/img/bck.dots.png") repeat top left
    > *
      z-index                 : 1

  &.cycling
    background                : url("/assets/img/bck.cycling.jpg")
  &.road
    background                : url("/assets/img/bck.road.jpg")
  &.london
    background                : url("/assets/img/bck.london.jpg")

.color
  &.white
    color                     : WHITE
  &.theme
    color                     : THEME

// -- BUTTON -------------------------------------------------------------------
.button, button, input[type="submit"], input[type="reset"], input[type="button"]
  border                      : none
  &.white
    color                     : WHITE
    border                    : solid 1px WHITE
    &:hover, &:visited
      color                   : THEME
      background-color        : WHITE
  &.theme
    color                     : THEME
    border                    : solid 1px THEME
    &:hover, &:visited
      color                   : WHITE
      background-color        : THEME
  &.primary
    border                    : 1px solid #bbb
    color                     : WHITE
    background-color          : THEME
    border-color              : darken(THEME, 5%)
    &:hover, &:focus
      color                   : WHITE
      background-color        : darken(THEME, 10%)
      border-color            : darken(THEME, 15%)

// -- FORM ---------------------------------------------------------------------
input[type="email"], input[type="search"], input[type="text"], input[type="tel"],
input[type="url"], input[type="password"], textarea, select
  background-color            : WHITE
  border                      : 1px solid #D1D1D1
  border-radius               : BORDER-RADIUS
  & :focus
    border                    : 1px solid #33C3F0

// -- TABLE ---------------------------------------------------------------------
table
  th, td
    border-bottom             : 1px solid #E1E1E1

// -- CODE ---------------------------------------------------------------------
code
  background                  : darken(BACKGROUND, 5%)
  border                      : 1px solid darken(BACKGROUND, 10%)
  border-radius               : BORDER-RADIUS
